<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Paths</title>
</head>
<body>
  <h1>List of Paths</h1>
  <ul>
    {% for path in paths %}
      <li>Start: {{ path.starting_point }} | End: {{ path.end_point }} | Stops: {{ path.num_stops }} | Distance: {{ path.distance }} km</li>
    {% endfor %}
  </ul>

  <div>
    <p>Page {{ current_page }} of {{ total_pages }}</p>
  </div>
  <div>
    {% if skip > 0 %}
      <a href="/{{ page_url }}?skip={{ skip - limit if skip - limit >= 0 else 0 }}&limit={{ limit }}">
        <button>Previous</button>
      </a>
    {% endif %}

    {% for page in range(1, total_pages + 1) %}
      <a href="/{{ page_url }}?skip={{ (page - 1) * limit }}&limit={{ limit }}">
        <button>{{ page }}</button>
      </a>
    {% endfor %}

    {% if skip + limit < total %}
      <a href="/{{ page_url }}?skip={{ skip + limit }}&limit={{ limit }}">
        <button>Next</button>
      </a>
    {% endif %}
  </div>

  <a href="/">Back to Home</a>
</body>
</html>
